body{
    /* background-repeat: no-repeat; */
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'East Sea Dokdo', cursive;
    background-color: lightblue;
}
.container {
    border: 15px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
}
.button-style {
    height: 65px;
    width: 85px;
    margin:3px 5px;
    border-radius: 50px;
    font-size: 20pt;
    font-weight: bold;
  }
  .form-control {
    height: 65px;
    font-size: 3vw;
    margin-right: 15px;
    margin-bottom: 10px;
    text-align: center;
  }
  
.pre-title {
    font-size: 6vw;
    font-weight: bold;
    color: blue;
}
.title {
    font-size:8vw;
    font-weight: bold;
}
.sub-title {
    font-size: 7vw;
    font-weight: bold;
  }
.sub-title span {
    color: red;
} 
.main-img {
    width: 20vw;
    height: 20vh;
}

@media screen and (max-width: 60rem) {
    .pre-title {
        font-size: 7vw;
      }
      .title {
        font-size: 9vw;
      }
      .sub-title {
        font-size: 8vw;
      }
    .form-control {
        height: 65px;
      font-size: 5vw;
      max-width: 500px;
      margin-right: 0px;
    }
    .button-style {
      height: 60px;
      width: 80px;
      margin:3px 5px;
      border-radius: 50px;
      font-size: 22pt;
      font-weight: bold;
      }
    .main-img {
      width: 40vw;
    }
  }
